<mat-toolbar color="primary" role="heading" class="mat-elevation-z8" style="height: 55px">
    <button mat-icon-button routerLink="/">
        <mat-icon>home</mat-icon>
    </button>
    <span style="flex: 1 1 auto"></span>
    <div *ngIf="afAuth.user | async as user; else showLogin">
        <button mat-button [matMenuTriggerFor]="menu">{{ user.displayName }}</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/profile">Profile</button>
            <button mat-menu-item (click)="logout()" routerLink="/">Logout</button>
        </mat-menu>
    </div>
    <ng-template #showLogin>
        <button mat-raised-button color="accent" (click)="loginWithGoogle()">Google</button>
    </ng-template>
</mat-toolbar>