<p>
    There are a number of things that need to be added to this site: <br>
    1. The format for schedules should be decided upon and implemented. <br>
    2. The forms for adding a schedule should be implemented. <br>
    3. The logic for adding a single event to a schedule should be added. <br>
    4. The forms for editing an existing schedule should be added. <br>
    5. The ability to view everyone's schedules at the same time or to select only a few specific schedules should be
    added. <br>
    6. Tracking should probably be removed. <br>
    7. API should be exposed through firebase functions to create a command line or mobile app equivalent. <br>
    8. The homepage should function without being logged in. <br>
    9. Maybe some form of D&D character thing. <br>
    10. Store user name in local storage to remove the stutter of the user authenticating. This should also determine if
    aspects of the page load as well. <br>
</p>